/* 幅・高さを指定 */
.swiper-button-prev,
.swiper-button-next {
  height: 100px;
  width: 100px;
}

 
/* 矢印を消す、画像に変更 */
.swiper [class^="swiper-button-"]:after
{
  content:"";
  border: 0;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
}
 
/* 前に戻る画像パス */
.swiper-button-prev:after {
  	background-image: url('../image/left_button.png');
    height: 50px;
    width: 50px;
    position:relative;
    left: 5px;

}
/* 次に進む画像パス */
.swiper-button-next:after {
  	background-image: url('../image/right_button.png');
    height: 50px;
    width: 50px;
    position:relative;
    right: 5px;
}
